@model IList<CaelumEstoque.Models.Produto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>
                    <!--Html.ActionLink(produto.Nome, "Visualiza", new { produto.Id})-->
                    <!-- Html.Routelink: texto + chamada do método pelo seu nome de rota + id que deseja passar -->
                    @Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id })
                </td>
                <td>@produto.Quantidade</td>
            </tr>
        }
    </tbody>
</table>
