
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <title>_Layout</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
            </ul>
            <h3 class="text-muted">Caelum Estoque</h3>
        </div>
        <div id="conteudo">
            <!--aqui entra todo o conteúdo da aplicação-->
            @RenderBody()
        </div>
    </div>
</body>
</html>
